{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
 <!-- [ statistics year chart ] start -->
 <div class="col-xl-4 col-md-6">
  <div class="card">
    <div class="card-block border-bottom">
      <div class="row d-flex align-items-center">
        <div class="col-auto">
          <i class="feather icon-zap f-30 text-c-green"></i>
        </div>
        <div class="col">
          <h3 class="load_count_dartil_day_sall f-w-300">در حال بارگزاری</h3>
          <span class="d-block text-uppercase">سفارشات دارتیل امروز</span>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="row d-flex align-items-center">
        <div class="col-auto">
          <i class="feather icon-zap f-30 text-c-green"></i>
        </div>
        <div class="col">
          <h3 class="load_count_snappshop_day_sall f-w-300">در حال بارگزاری</h3>
          <span class="d-block text-uppercase">سفارشات اسنپ شاپ امروز</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-block border-bottom">
      <div class="row d-flex align-items-center">
        <div class="col-auto">
          <i class="feather icon-zap f-30 text-c-green"></i>
        </div>
        <div class="col">
          <h3 class="load_count_monthly_sales_snappshop f-w-300">در حال بارگزاری</h3>
          <span class="d-block text-uppercase">سفارشات اسنپ شاپ این ماه</span>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="row d-flex align-items-center">
        <div class="col-auto">
          <i class="feather icon-zap f-30 text-c-green"></i>
        </div>
        <div class="col">
          <h3 class="load_count_monthly_sales_dartil f-w-300">در حال بارگزاری</h3>
          <span class="d-block text-uppercase">سفارشات دارتیل این ماه</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ statistics year chart ] end -->

  <!-- [ Main Content ] start -->
  

  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}